<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cellName</key>
			<string>Demo2TableViewCell</string>
			<key>img</key>
			<string>2</string>
			<key>des</key>
			<string>hehe</string>
			<key>title</key>
			<string>zhoufei</string>
		</dict>
		<dict>
			<key>cellName</key>
			<string>Demo4TableViewCell</string>
			<key>img</key>
			<string>1</string>
			<key>des</key>
			<string>hehe</string>
			<key>subDes</key>
			<string>hehe</string>
			<key>title</key>
			<string>zhouxxx</string>
			<key>subTitle</key>
			<string>zhouxxx</string>
		</dict>
		<dict>
			<key>xibCellName</key>
			<string>Demo3TableViewCell</string>
			<key>img</key>
			<string>0</string>
			<key>des</key>
			<string>hehe</string>
			<key>title</key>
			<string>mengdemei</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>classCellName</key>
			<string>ClassTableViewCell</string>
			<key>img</key>
			<string>2</string>
			<key>des</key>
			<string>hehe</string>
			<key>title</key>
			<string>sscdf</string>
		</dict>
		<dict>
			<key>classCellName</key>
			<string>FrameTableViewCell</string>
			<key>isCustomCell</key>
			<true/>
			<key>img</key>
			<string>1</string>
			<key>des</key>
			<string>hehe</string>
			<key>title</key>
			<string>dfv</string>
		</dict>
		<dict>
			<key>img</key>
			<string>0</string>
			<key>des</key>
			<string>hehe</string>
			<key>title</key>
			<string>gfhdsr</string>
		</dict>
	</array>
</array>
</plist>
