<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerDes</key>
		<string>经常使用的功能代码</string>
		<key>headerTitle</key>
		<string>常用功能</string>
		<key>functionList</key>
		<array>
			<dict>
				<key>des</key>
				<string>自定义实现popview弹出tableview，menu，自定义view</string>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFPopTableViewController</string>
						<key>title</key>
						<string>PopTableView</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFPopMenuViewController</string>
						<key>title</key>
						<string>PopMenuView</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFPopCustomViewController</string>
						<key>title</key>
						<string>PopCustomView</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFPopFoldawayButtonController</string>
						<key>title</key>
						<string>PopFoldawayButton</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>ZFPopView</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFHaveNextBtnViewController</string>
						<key>title</key>
						<string>HaveNextBtn</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFHaveTimerViewController</string>
						<key>title</key>
						<string>HaveTimer</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>NewsMainViewController</string>
						<key>title</key>
						<string>联动Controller</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFScaleViewController</string>
						<key>title</key>
						<string>Scale</string>
					</dict>
				</array>
				<key>des</key>
				<string>自定义实现scrollView：自带下一步按钮，计时器，联动controller，中间元素放大</string>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>ZFScrollView</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFHeaderTableViewController</string>
						<key>title</key>
						<string>headerView</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFFooterTableViewController</string>
						<key>title</key>
						<string>footerView</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFEditingTableViewController</string>
						<key>title</key>
						<string>EditView</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFSettingTableViewController</string>
						<key>title</key>
						<string>SettingTable</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>des</key>
				<string>自定义实现tableview：自带headerView，footerView，可编辑</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>ZFTableView</string>
			</dict>
			<dict>
				<key>isPop</key>
				<string>YES</string>
				<key>des</key>
				<string>自定义实现collectionView：lineType，circleType，stackType，rotatePageType，waterfallType</string>
				<key>popViewController</key>
				<string>CollectionViewControllerDemo</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>ZFCollectionView</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFAnimationButtonViewController</string>
						<key>title</key>
						<string>AnimationButton</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFCommonButtonViewController</string>
						<key>title</key>
						<string>CommonButton</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>des</key>
				<string>自定义实现button：</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>ZFCustomBtn</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerDes</key>
		<string>使用第三方库实现的功能</string>
		<key>headerTitle</key>
		<string>扩展功能</string>
		<key>functionList</key>
		<array>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFTransitionAnimationViewController</string>
						<key>title</key>
						<string>ViewAnimation</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>Animation</string>
				<key>des</key>
				<string>实现转场动画，和view动画</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFThirdLoginViewController</string>
						<key>title</key>
						<string>ThirdLogin</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>Login</string>
				<key>des</key>
				<string>第三方登录</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFBaiduMapViewController</string>
						<key>title</key>
						<string>BaiduMap</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFGaodeMapViewController</string>
						<key>title</key>
						<string>GaodeMap</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>Map</string>
				<key>des</key>
				<string>Map应用</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFBluetoothViewController</string>
						<key>title</key>
						<string>Bluetooth</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>Bluetooth</string>
				<key>des</key>
				<string>蓝牙应用</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFImageFilterViewController</string>
						<key>title</key>
						<string>ImageFilter</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>ImageFilter</string>
				<key>des</key>
				<string>图片滤镜的使用</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFAudioPlayerViewController</string>
						<key>title</key>
						<string>AudioPlayer</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>AudioPlayer</string>
				<key>des</key>
				<string>音乐播放</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFTextAttributeViewController</string>
						<key>title</key>
						<string>TextAttribute</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>TextAttribute</string>
				<key>des</key>
				<string>文字属性的使用</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFHeaderViewController</string>
						<key>title</key>
						<string>headerView</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>CoreDate</string>
				<key>des</key>
				<string>数据存储</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFHeaderViewController</string>
						<key>title</key>
						<string>headerView</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>Search</string>
				<key>des</key>
				<string>搜索</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFLoginViewController</string>
						<key>title</key>
						<string>LoginView</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFApplePayViewController</string>
						<key>title</key>
						<string>ApplePay</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFKeybordViewController</string>
						<key>title</key>
						<string>Keybord</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>Other</string>
				<key>des</key>
				<string>其他</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFLoginViewController</string>
						<key>title</key>
						<string>LoginView</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFApplePayViewController</string>
						<key>title</key>
						<string>ApplePay</string>
					</dict>
					<dict>
						<key>popViewController</key>
						<string>ZFKeybordViewController</string>
						<key>title</key>
						<string>Keybord</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>加密</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFRequestManageViewController</string>
						<key>title</key>
						<string>RequestManage</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>网络请求封装</string>
			</dict>
			<dict>
				<key>funcArr</key>
				<array>
					<dict>
						<key>popViewController</key>
						<string>ZFJumpProfileViewController</string>
						<key>title</key>
						<string>JumpProfile</string>
					</dict>
				</array>
				<key>isPop</key>
				<string>NO</string>
				<key>isOpen</key>
				<string>NO</string>
				<key>title</key>
				<string>跳转设置</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
