<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isJump</key>
			<string>YES</string>
			<key>userInfo</key>
			<dict>
				<key>userIconUrl</key>
				<string>1</string>
				<key>userName</key>
				<string>周飞</string>
			</dict>
			<key>title</key>
			<string>账号管理</string>
			<key>xibCellName</key>
			<string>ZFUserInfoTableViewCell</string>
			<key>PopToViewController</key>
			<string>ZFTransitionAnimationViewController</string>
		</dict>
		<dict>
			<key>des</key>
			<string>13552417395</string>
			<key>title</key>
			<string>手机号</string>
			<key>xibCellName</key>
			<string>ZFDoubleLabelTableViewCell</string>
			<key>isJump</key>
			<string>YES</string>
			<key>PopToViewController</key>
			<string>ZFTransitionAnimationViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>isNoti</key>
			<string>YES</string>
			<key>title</key>
			<string>消息通知</string>
			<key>xibCellName</key>
			<string>ZFSwitchTableViewCell</string>
		</dict>
		<dict>
			<key>isJump</key>
			<string>YES</string>
			<key>title</key>
			<string>博客</string>
			<key>PopToViewController</key>
			<string>ZFBokeViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>isJump</key>
			<string>YES</string>
			<key>title</key>
			<string>联系人</string>
		</dict>
		<dict>
			<key>isJump</key>
			<string>YES</string>
			<key>title</key>
			<string>WiFi</string>
			<key>PopToViewController</key>
			<string>ZFTransitionAnimationViewController</string>
			<key>isPop</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>isNoti</key>
			<string>YES</string>
			<key>title</key>
			<string>设备锁</string>
			<key>xibCellName</key>
			<string>ZFSwitchTableViewCell</string>
		</dict>
	</array>
</array>
</plist>
